.navbar.navbar-fixed-top
  %button.navbar-toggle(type="button" data-toggle="collapse" 
    data-target=".nav-collapse")
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  %a.navbar-brand(href="/") Tiny Sea Bots
  .nav-collapse.collapse
    .hidden-phone
      %ul.nav.pull-right
        %li
          %a(href="/robots") Sea Bots

        - if current_user(:id).nil?


          %li
            %a(href="/signup") Signup
          %li
            %a(href="/login") Login
        - else
          %li.dropdown
            %a(data-toggle="dropdown" href="#" id="nav-user-dropdown")
              = current_user(:email)
              %b.caret
            %ul.dropdown-menu 
              %li
                %a(href="/robot/new") Add a Sea Bot
              %li
                %a(href="/account") Account
              %li
                %a(href="/logout") Logout
    .visible-phone
      %ul.nav.text-center
        %li
          %a(href="/robots") Sea Bots

        - if current_user(:id).nil?
          %li
            %a(href="/signup") Signup
          %li
            %a(href="/login") Login
        - else
          %li.dropdown
            %li
              %a(href="/robot/new") Add a Sea Bot
            %li
              %a(href="/account") Account
            %li
              %a(href="/logout") Logout
