- @title = "Home"

.jumbotron.text-center
  %h1.text-center Fish like company too.
  %h2.lead
    Tiny Sea Bots connects you to robots that are in the sea.
  %p
    %a.btn.btn-success.btn-large(href="/robots") Start exploring
