.jumbotron.text-center
  %h1.text-center Explore the sea anywhere
  %h2.lead
    Tiny Sea Robots connects you to robots that are in the sea.
  %p
    %a.btn.btn-success.btn-large(href="/robots") Start exploring
